<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div>
    <link rel="stylesheet" href="style.css"  />
    <div class="home-container">
        <button type="button" class="home-button button" onclick="window.location.href='/menu'">Check Menu</button>
        <button type="button" class="home-button1 button"  onclick="window.location.href='/menu'">Order</button>
        <h1 class="home-text">YUMMY SUSHI</h1>
        <button type="button" class="home-button2 button">Back</button>
        <button type="button" class="home-button3 button">Log in</button>
        <footer class="home-footer">
            <div class="home-container1">
                <div class="home-icon-group">
                </div>
            </div>
            <div class="home-links-container"></div>
        </footer>
        <button type="button" class="home-button4 button">Reservation</button>
    </div>
</div>
</body>
</html>