<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" th:href="@{/css/LastPage.css}" />
</head>
<body>
<div>
    <link href="LastPage.css" rel="stylesheet" />
    <div class="page-container">
        <button type="button" class="page-button button">Back</button>
        <span class="page-text">You successfully created order:)</span>
        <button type="button" class="page-button1 button">Log in</button>
        <a href="/menu" class="page-button2 button">Order More</a>
        <footer class="page-footer">
            <div class="page-container1">
                <div class="page-icon-group">
                </div>
            </div>
            <div class="page-links-container"></div>
        </footer>
    </div>
</div>

</body>
</html>